<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game2.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="balance_cont btn">
        <img src="../png/coin.png" alt="" />
        <div class="balance">5000</div>
      </div>

      <a href="main.html" class="home"></a>
      <a href="shop.html" class="shop_link"></a>

      <div class="modal hidden">win</div>

      <div class="slot_cont_cont block">
        <div class="slot_cont"></div>
      </div>

      <div class="footer block">
        <div class="col">
          <div class="bet_block btn act">
            <img src="../png/coin.png" alt="" />
            <div class="bet">100</div>
          </div>

          <div class="bet_block btn">
            <img src="../png/coin.png" alt="" />
            <div class="bet">200</div>
          </div>
        </div>

        <div class="col">
          <div class="bet_block btn">
            <img src="../png/coin.png" alt="" />
            <div class="bet">500</div>
          </div>

          <div class="bet_block btn">
            <img src="../png/coin.png" alt="" />
            <div class="bet">1000</div>
          </div>
        </div>

        <img src="../png/spin.png" alt="" class="spin" />
        <div class="max btn">MAX</div>
        <div class="auto btn">AUTO</div>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game2.js"></script>
  </body>
</html>
