<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>App</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="balance_cont btn">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <a href="main.html" class="home"></a>
      <a href="shop.html" class="shop_link"></a>

      <div class="menu">
        <a href="spinner.html" class="link">
          <img src="../png/gl1.png" alt="" />
        </a>

        <a href="game2.html" class="link">
          <img src="../png/gl2.png" alt="" />
        </a>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/main.js"></script>
  </body>
</html>
