<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/shop.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <a href="main.html" class="home"></a>

      <div class="balance_cont btn">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <div class="shop block"></div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/shop.js"></script>
  </body>
</html>
